.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    margin-bottom: 81px;
}

.products_page {
    margin-top: 91px;
    margin-left: 30px;
}

.products_page Footer {
    margin-top: 56px;
}

.sort_section {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.search {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search_form {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search_form input {
    width: 103px;
    height: 42px;
    border: 1px solid #000000;
    border-radius: 7px;
}

.search_form input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #ACACAC;
}

.search_form button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.sort {
    display: flex;
    gap: 15px;
    align-items: center;
}

.sort_select {
    width: 219px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 7px;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #797979;
}

.sort_select option {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #797979;
}

.option::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #797979;
}